<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lesson">
            <h2><span jhiTranslate="gateway1App.lesson.detail.title">Lesson</span> {{lesson.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gateway1App.lesson.lessonTitle">Lesson Title</span></dt>
                <dd>
                    <span>{{lesson.lessonTitle}}</span>
                </dd>
                <dt><span jhiTranslate="gateway1App.lesson.lessonDescription">Lesson Description</span></dt>
                <dd>
                    <span>{{lesson.lessonDescription}}</span>
                </dd>
                <dt><span jhiTranslate="gateway1App.lesson.language">Language</span></dt>
                <dd>
                    <span jhiTranslate="{{'gateway1App.Language.' + lesson.language}}">{{lesson.language}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lesson', lesson.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
